body, *{
	padding: 0;
	margin: 0;
}

body{
	background-color: #333333;
	font-family: Verdana;
	font-size: 14px;
}

hr{
	margin: 0.5em 0;
	border: 2px inset;
}

canvas,
img{
	image-rendering: pixelated;
}

/** BUTTONS */
button{
	padding: 0.25em 0.5em;
	font-weight: bold;
	cursor: pointer;
	outline: none;
    border: 1px solid rgba(0,0,0,0.75);
    border-radius: 2px;
    box-shadow: inset 0 3px 3px rgba(255,255,255,0.75), inset 0 -8px 6px rgba(0,0,0,0.35);
    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
         -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
}

button:hover{
	box-shadow: inset 0 6px 6px rgba(255,255,255,0.5), inset 0 -3px 3px rgba(0,0,0,0.35);
}
button:active, button.selected{
	box-shadow: inset 0 3px 3px rgba(0,0,0,0.5), inset 0 -3px 3px rgba(0,0,0,0.35);
}

button.submit{
	padding: 0.5em 1em;
	background-color: mediumblue;
	border-color: lightblue;
	color: white;
	margin: auto;
    display: block;
}
button.submit:hover{
	background-color: mediumblue;
	border-color: lightblue;
}

button.option{
	padding: 0.5em 1em;
	background-color: cornflowerblue;
	border-color: lightblue;
	color: white;
}
button.option:hover{
	background-color: cornflowerblue;
	border-color: lightblue;
}	

button.close, button.close:hover{
	background-color: red;
	color:white;
}

button.disabled,
select.disabled{
	pointer-events: none;
	background:grey;
	color:darkgrey;
}

.hidden{
	display: none;
}

/** BUTTONS */

/** INPUTS */
input, textarea, select{
	border-radius: 3px;
	background-color: rgba(255,255,255,0.75);
	padding: 0.1em 0.5em;
}

input[type="number"]{
	width: 3em;
	text-align: right
}

input.tiny{
	width: 2em;
}
/** INPUTS */

/*** Draggable Windows */

.draggable{
	position: absolute;
	left:0;
	top:0;
}

.drag_surface{
	cursor: pointer;
	-webkit-user-select: none;  
  	-moz-user-select: none;    
  	-ms-user-select: none;      
  	user-select: none;
}
/*** Draggable Windows */


#canvas-content{
	position: absolute;
	top:0;
	left:0;
	z-index:1;
	overflow: hidden;
}


/** GENERAL CLASSES */
	.boxed{
		background-color: #d1c59a;
		border:2px outset white;
	}

	.boxed > *{
		min-height: 1.5em;
		margin:0;
		border: 2px inset white;
	}

	ul.menu{
		list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	}
		ul.menu > li{
			float: left;
			margin: 2px 5px;
		}

		ul.menu > li > *:hover{
			/*background-color: white;*/
		}
	
	ul.right{
		position: absolute;
    	right: 1em;
    	top: 0;
	}

	#app_menu{
		margin-left:1em;
	}

	#the_map_title{
		font-weight: bold;
    	width: 30%;
    	text-align: center;
    	position: absolute;
    	z-index: 2;
    	top: 0;
    	left: 40%;
    	border: 2px inset;
    	padding: 0.25em 0;
    	background-color: beige;
	}

.window{
	display: none;
	position: fixed;
	left:0;
	top:0;
	z-index:2;
}

.window.visible{
	display: block;
}

	.window_header{
		margin: 0;
	    border: none;
	    background: royalblue;
	    color: white;
	    padding: 0 3em;
	}

		.window_header .title{
			font-weight: bold;
		    text-align: center;
		    width: 100%;
		    padding: 0.5em 0;
		}

		.window_header .buttons{
			position: absolute;
			top: 2px;
    		right: 0;
		}

	.window .content{
		max-width: 450px;
	}

	[data-window="images"] .content{
		max-width: 80vw;
	}
/** GENERAL CLASSES */


/** ELEMENTS  */
	.elements_actions.menu{
		background-color: #4f4c46;
    	padding: 0.15em 0;
    	box-shadow: 0 2px 2px black;
	}

	.maps_actions.menu{
		background-color: #004c46;
    	padding: 0.15em 0;
    	box-shadow: 0 2px 2px black;
	}

	.mapObjects_actions.menu{
		background-color: #4f4c00;
    	padding: 0.15em 0;
    	box-shadow: 0 2px 2px black;
	}

	.images_actions.menu{
		background-color: #6b0025;
    	padding: 0.15em 0;
    	box-shadow: 0 2px 2px black;
	}

	.action_sections{
		max-height: 80vh;
    	overflow: auto;
	}
	
	.action_sections section{
		color: #4f4c46;
		display: none;
		padding: 0.5em;
		background-color: rgba(0,182,255,0.1);
	}
	.action_sections section.selected{
		display: block;
	}

	/* LIST ELEMENTS */
	.rows_list_wrap{
		overflow: auto;
		background-color: #333333;
		width:98%;
		height:40vh;
		border: 2px inset;
	}
		.rows_list{
			position: relative;
			width:100%;
			min-height: 2em;
		}

		
		
		.rows_list li{
			position: relative;
			background-color: rgba(255,255,255,0.75);
			margin:0.25em;
			border-radius: 1px;
			border: 2px solid rgba(255,255,255,0.75);
			cursor:pointer;
			padding-right: 1em;
			min-height: 2.5em;

			display: -ms-flexbox;
		    display: -webkit-flex;
		    display: flex;
		    -webkit-flex-direction: row;
		    -ms-flex-direction: row;
		    flex-direction: row;
		    -webkit-flex-wrap: nowrap;
		    -ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
		    -webkit-justify-content: flex-start;
		    -ms-flex-pack: start;
		    justify-content: flex-start;
		    -webkit-align-content: stretch;
		    -ms-flex-line-pack: stretch;
		    align-content: stretch;
		    -webkit-align-items: center;
		    -ms-flex-align: center;
		    align-items: center;
		}

		#maps_content_list.rows_list li{
			-webkit-align-items: flex-start;
		    -ms-flex-align: flex-start;
		    align-items: flex-start;
		}

		.rows_list li:hover{
			background-color: rgba(255,255,255,1);
			color: black;
		}

		.rows_list li.selected{
			background-color: rgba(255,255,255,1);
			border: 2px solid royalblue;
			color: royalblue;
		}
			.rows_list .thumbnail{
				border: 2px inset transparent;
				border-right-color: grey;
				margin-right:1em;
				background-image: url('../images/img_bg.png');
			}
				.rows_list .thumbnail img{
					max-width: 40px;
	    			max-height: 40px;
	    			margin: 0.25em;
				}
				.rows_list .thumbnail img.small{
					max-width: 35px;
	    			max-height: 35px;
	    			margin: 0;
				}

				.rows_list .thumbnail img.demon{
					background-color: rgba(255,50,50,0.25);
    				box-shadow: 0 0 3px 3px rgba(255,50,50,0.25);
				}

				.rows_list .thumbnail img.human{
					background-color: rgba(50,100,255,0.25);
    				box-shadow: 0 0 3px 3px rgba(50,100,255,0.25);
				}

			#maps_content_list.rows_list li .small{
				font-size: 10px;
   				position: absolute;
   				bottom: 0;
   				right: 0;
   				background-color: rgba(100,100,100,0.5);
   				text-align: right;
   				padding: 0em 1.5em 0.25em 1.5em;
   				color: white;
   				border-top-left-radius: 1em;
			}

			#maps_content_list.rows_list li .layer.ground{ background-color: rgba(200,100,0,0.5); }
			#maps_content_list.rows_list li .layer.behind{ background-color: rgba(0,0,100,0.5); }
			#maps_content_list.rows_list li .layer.decorations{ background-color: rgba(0,100,100,0.5); }
			#maps_content_list.rows_list li .layer.front{ background-color: rgba(200,0,100,0.5); }

				#maps_list .thumbnail img{
	    			margin:0;
				}
			
			#view_element_data > *{
				margin-top: 0.5em;
			}

			#view_element_data .image{
				width:auto; 
				min-width: 100px;
		    	min-height: 100px;
		    	border: 2px solid black;
		    	background-color: white;
		    	background-image: url('../images/img_bg.png');
		    	padding: 2px;
		    	display: inline-block;
		    	text-align: center;
		    	vertical-align: middle;
			}
				#view_element_data .image img{  
					height:auto;
					max-width: 200px;
					max-height: 200px;
				}
	
	#images_list.rows_list{
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-align-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
	}
		#images_list.rows_list > li{
			display: inline-block;
			padding: 5px;
			background-color:white;
		}
			#images_list.rows_list > li > .thumbnail{
				width: 200px;
				height: 200px;
				margin:0;
				border: 2px solid black;
				
				display: -ms-flexbox;
			    display: -webkit-flex;
			    display: flex;
			    -webkit-flex-direction: row;
			    -ms-flex-direction: row;
			    flex-direction: row;
			    -webkit-flex-wrap: nowrap;
			    -ms-flex-wrap: nowrap;
			    flex-wrap: nowrap;
			    -webkit-justify-content: center;
			    -ms-flex-pack: center;
			    justify-content: center;
			    -webkit-align-content: center;
			    -ms-flex-line-pack: center;
			    align-content: center;
			    -webkit-align-items: center;
			    -ms-flex-align: center;
			    align-items: center;
			}
				#images_list.rows_list > li > .thumbnail img {
					max-width: 100%;
					max-height: 100%;
					/*width: 100%;*/
				}
			#images_list.rows_list > li > .name{
				width: 200px;
				overflow: hidden;
				text-align: center;
			    color: black;
			    font-weight: bold;
			    font-family: cursive;
			}

		.images_list_wrap{
			height: 70vh;
		}
	
	/* NEW ELEMENT FORM */
	.form_item{
		margin: 0.25em 0;
	}

	.image_wrap{   
		width:auto; 
		min-width: 100px;
    	min-height: 100px;
    	border: 2px solid black;
    	background-color: white;
    	background-image: url('../images/img_bg.png');
    	padding: 2px;
    	display: inline-block;
    	text-align: center;
    	vertical-align: middle;
	}
		.image_wrap img{
			height:auto;
		}

		.image_wrap img.big{  
			max-width: 400px;
			max-height: 400px;
		}

		.image_wrap img.medium{  
			max-width: 200px;
			max-height: 200px;
		}

		.image_wrap img.small{  
			max-width: 100px;
			max-height: 100px;
		}

		.image_wrap img.previous{}
/** ELEMENTS  */

header{
	z-index:2;
	position: fixed;
    width: 100%;
    background-color: #d1c59a;
    border-bottom: 2px outset;
}

footer{
	position: fixed;
	bottom:0;
	left:0;
	width:100%;
	z-index:2;
}

