<header>
	<nav>
		<ul id="app_menu" class="menu">
			<li><button data-action="windowImages">Images</button></li>
			<li><button data-action="windowElements">Elements</button></li>
			<li><button data-action="windowObjects">Objects</button></li>
			<li><button data-action="windowMaps">Maps</button></li>
			
		</ul>
	</nav>
	<div id="the_map_title" class="title"></div>

	<ul class="menu right">
		<li>
			<label>Raza:</label>
			<select id="map_race_select" data-needMap="true" class="disabled">
				<option value="demon">Demonios</option>
				<option value="human">Humanos</option>
			</select>
		</li>
		<li><button data-action="saveMap" class="disabled" data-needMap="true"> SAVE </button></li>
		<li><button data-action="closeMap" class="close disabled" data-needMap="true">X</button></li>
	</ul>
</header>
<footer class="boxed">
	<div class="message"><span class=text"></span></div>
</footer>