{{#each elements}}
	<li data-element="name" data-select="{{@key}}" data-index="{{@index}}" {{#ifCond @key ../selected}}class="selected"{{/ifCond}}>
		<div  class="thumbnail" data-select="{{@key}}" data-index="{{@index}}"><img src="map/images/{{#justOne src}}{{/justOne}}" data-select="{{@key}}" data-index="{{@index}}"/></div>
		<div class="name" data-select="{{@key}}" data-index="{{@index}}">{{@key}}</div>
	</li>
{{/each}}