<hr/>
<div class="name">
	<span><strong>Nombre:</strong> {{name}}</span>
</div>
<div class="race">
	<span><strong>Race:</strong> {{race}}</span>
</div>
<div class="type">
	<span><strong>Tipo:</strong> {{type}}</span>
</div>
{{#if animationSpeed}}
	<div class="animation_speed">
		<span><strong>Velocidad de animación:</strong> {{animationSpeed}}</span>
	</div>
{{/if}}
<div class="image_wrap">
	<img src="map/images/{{#justOne src}}{{/justOne}}" class="medium"/>
</div>
<div class="src">
	<span><strong>Imagen/es:</strong><br/> {{#forceList src}}{{/forceList}}</span>
</div>
<div class="offsets">
	<span><strong>Offset X:</strong> {{x}}px</span>
	<br/>
	<span><strong>Offset Y:</strong> {{y}}px</span>
</div>
{{#if scale}}
	<div class="scale">
		<span><strong>Scale X:</strong> {{scale.x}}</span>
		<br/>
		<span><strong>Scale Y:</strong> {{scale.y}}</span>
	</div>
{{/if}}
<div class="layer">
	<span><strong>Layer:</strong> {{layer}}</span>
</div>
{{#if order}}
	<div class="order">
		<span><strong>Order:</strong> {{order}}</span>
	</div>
{{/if}}
{{#if alpha}}
	<div class="alpha">
		<span><strong>Alpha:</strong> {{alpha}}</span>
	</div>
{{/if}}
{{#if blendMode}}
	<div class="blendMode">
		<span><strong>Blend Mode:</strong> {{blendMode}}</span>
	</div>
{{/if}}
{{#if subElements}}
	<div class="subElements">
		<span><strong>Subelementos:</strong><br/> {{#forceList subElements}}{{/forceList}}</span>
	</div>
{{/if}}
{{#if WebGL}}
	<div class="WebGL">
		<span><strong>WebGL:</strong> {{WebGL}}</span>
	</div>
{{/if}}
{{#if Canvas}}
	<div class="Canvas">
		<span><strong>Canvas:</strong> {{Canvas}}</span>
	</div>
{{/if}}
<ul class="menu">
	<li><button data-action="edit_element">Editar</button></li>
	<li><button data-action="removeElement">Eliminar</button></li>
</ul>