<div id="edit_element_form" class="form">
	<label>Nombre:</label>
	<input data-form="edit_element" data-field="name" type="text" value="{{name}}" id="edit_element_name" class="form_item" required title="Nombre de identificación del elemento. Es muy importante usar nombres descriptivos que vayan de más genérico a más concreto, consiguiendo a su vez que sea único. Por ejemplo, demonStreetLightLeft = Farola de ciudad demonio para parte izquierda de la celda". No uses ningún caracter especial ni espacio, todo junto y con 'Camel Case', primera minúscula y resto mayúscula, mira el ejemplo." />
	<br/>
	<label>Race:</label>
	<select id="edit_element_race" data-form="edit_element" data-field="race" class="form_item" title="Asigna una raza al elemento." required>
		{{#each config.races}}
			{{#ifCond this ../element.race}}
				<option value="{{this}}" selected>{{this}}</option>
			{{else}}
				<option value="{{this}}">{{this}}</option>
			{{/ifCond}}
		{{/each}}
	</select>
	<hr/>
	<label>Tipo:</label>
	<select id="edit_element_type" data-form="edit_element" data-field="type" class="form_item" title="Elige el tipo de elemento que quieres que sea." required>
		{{#each config.elements}}
			{{#ifCond this ../element.type}}
				<option value="{{this}}" selected>{{this}}</option>
			{{else}}
				<option value="{{this}}">{{this}}</option>
			{{/ifCond}}
		{{/each}}
	</select>
	<br/>
	<div class="animation_speed_wrap {{#if element.animationSpeed}}{{else}}hidden{{/if}}">
		<label>Velocidad de animación:</label>
		<input id="edit_element_animation_speed" data-form="edit_element" data-field="animationSpeed" type="number" value="{{#if element.animationSpeed}}{{element.animationSpeed}}{{else}}1{{/if}}" class="form_item" title="Valor relativo de velocidad de animación de PIXIjs :s, lo normal digamos que es 1, pero admite decimales y valores mayores a 1"/>
	</div>
	<br/>
	<div class="image_wrap form_item">
		<img id="edit_element_image_preview" src="map/images/{{#justOne element.src}}{{/justOne}}" class="big" title="Imagen/es seleccionada/s para el elemento. Recuerda que para los 'movieClip' tienes que elegir más de una, si fuese solo una usa tipo imagen o tipo luz si quieres efecto de luz en el renderizado."/>
	</div>
	<br/>
	<select id="edit_element_image" data-form="edit_element" value="{{element.image}}" class="form_item" title="Selecciona la imagen del elemento" required>
		<option value=""></option>
		{{#each images}}
			<option value="{{this}}">{{this}}</option>
		{{/each}}
	</select>
	<br/>
	<label><strong>Imagen/es: </strong><br/><span id="edit_element_src_label">{{#forceList element.src}}{{/forceList}}</span></label>
	<input style="display:none" id="edit_element_src" type="text" readonly class="form_item" data-form="edit_element" data-field="src" value="{{#forceText element.src}}{{/forceText}}" />
	<br/>
		<ul class="menu">
			<li><button id="edit_element_add_image_button" data-action="editElementAddImage" class="add_image_element option">Añadir</button></li>
			<li><button id="edit_element_remove_image_button" data-action="editElementRemoveImage" class="remove_image_element option">Eliminar</button></li>
		</ul>
	<hr/>
	<label>Offset X (px):</label>
	<input data-form="edit_element" data-field="x" type="number" value="{{element.x}}" id="edit_element_offset_x" class="form_item" title="Desplaza horizontalmente el elemento sobre la celda respecto del 0 (izquierda)"/>
	<br/>
	<label>Offset Y (px):</label>
	<input data-form="edit_element" data-field="y" type="number" value="{{element.y}}" id="edit_element_offset_y" class="form_item" title="Desplaza verticalmente el elemento sobre la celda respecto del 0 (arriba)"/>
	<br/>
	{{#if element.scale}}
		<input data-form="edit_element" data-field="scalex" type="checkbox" id="edit_element_flip_x" class="form_item" title="Haciendo un escalado -100% en el eje X, se invierte la imagen en este eje" value="0" required {{#ifCond element.scale.x -1}}checked="true"{{/ifCond}}/>
		<label><-- Flip horizontal</label>
		<br/>
		<input data-form="edit_element" data-field="scaley" type="checkbox" id="edit_element_flip_y" class="form_item" title="Haciendo un escalado -100% en el eje Y, se invierte la imagen en este eje" value="0" required {{#ifCond element.scale.y -1}}checked="true"{{/ifCond}}/>
		<label><-- Flip vertical</label>
	{{else}}
		<input data-form="edit_element" data-field="scalex" type="checkbox" id="edit_element_flip_x" class="form_item" title="Haciendo un escalado -100% en el eje X, se invierte la imagen en este eje" value="0" required/>
		<label><-- Flip horizontal</label>
		<br/>
		<input data-form="edit_element" data-field="scaley" type="checkbox" id="edit_element_flip_y" class="form_item" title="Haciendo un escalado -100% en el eje Y, se invierte la imagen en este eje" value="0" required/>
		<label><-- Flip vertical</label>
	{{/if}}
	<hr/>
	<label>Capa:</label>
	<select id="edit_element_layer" data-form="edit_element" value="element.layer" data-field="layer" class="form_item" title="Las capas al igual que en photoshop determinan grupos de pintado según el orden de cada una. Dentro de cada capa puede especificarse el orden de pintado entre elementos de una celda mediante el parámetro 'Orden'" required>
		{{#each config.map.layers}}
			{{#ifCond this ../element.layer}}
				<option value="{{this}}" selected>{{this}}</option>
			{{else}}
				<option value="{{this}}">{{this}}</option>
			{{/ifCond}}
		{{/each}}
	</select>
	<br/>
	<label>Orden (*):</label>
	<input data-form="edit_element" value="{{element.order}}" data-field="order" type="number" id="edit_element_order" class="form_item" title="Orden de prioridad de pintado entre los elementos dentro de una celta en cada capa"/>
	<hr/>
	<label>Alpha [0-1] (*):</label>
	<input data-form="edit_element" data-field="alpha" type="number" id="edit_element_alpha" class="form_item" title="0 transparente y 1 opaco, es válida cualquier cifra decimal" {{#if element.alpha}}value="{{element.alpha}}"{{else}}value="1"{{/if}}/>
	<br/>
	<label>Blend Mode (*):</label>
	<select id="edit_element_blend_mode" data-form="edit_element" data-field="blendMode" value="{{element.blendMode}}" class="form_item" title="Blend Modes soportados en WebGL, Canvas soporta estos y muchos más">
		{{#each config.map.blendModes}}
			{{#ifCond this ../element.blendMode}}
				<option value="{{this}}" selected>{{this}}</option>
			{{else}}
				<option value="{{this}}">{{this}}</option>
			{{/ifCond}}			
		{{/each}}
	</select>
	<hr/>
	<select id="edit_element_elements" class="form_item" title="Elige subelementos unidos a este elementos">
		<option value=""></option>
		{{#each mapElements}}
			<option value="{{@key}}">{{@key}}</option>
		{{/each}}
	</select>
	<br/>
	<label><strong>Subelementos (*):</strong><br/><span id="edit_element_subelements_label">{{#forceList element.subElements}}{{/forceList}}</span></label>
	<input style="display:none" id="edit_element_subelements" type="text" readonly class="form_item" data-form="edit_element" data-field="subElements" value="{{#forceText element.subElements}}{{/forceText}}"/>
	<br/>
		<ul class="menu">
			<li><button id="edit_element_add_subelement_button" data-action="editElementAddSubelement" class="add_subelement_element option">Añadir</button></li>
			<li><button id="edit_element_remove_subelement_button" data-action="editElementRemoveSubelement" class="remove_subelement_element option">Eliminar</button></li>
		</ul>
	<hr/>
	<label>WebGL (*):</label>
	<select id="edit_element_layer" value="{{element.WebGL}}" data-form="edit_element" data-field="WebGL" class="form_item" title="Especifica un recurso concreto para el caso de WebGL">
		<option value=""></option>
		{{#each mapElements}}
			{{#ifCond @key ../element.WebGL}}
				<option value="{{@key}}" selected>{{@key}}</option>
			{{else}}
				<option value="{{@key}}">{{@key}}</option>
			{{/ifCond}}	
		{{/each}}
	</select>
	<br/>
	<label>Canvas (*):</label>
	<select id="edit_element_layer" value="{{element.Canvas}}" data-form="edit_element" data-field="Canvas" class="form_item" title="Especifica un recurso concreto para el caso de Canvas.">
		<option value=""></option>
		{{#each mapElements}}
			{{#ifCond @key ../element.Canvas}}
				<option value="{{@key}}" selected>{{@key}}</option>
			{{else}}
				<option value="{{@key}}">{{@key}}</option>
			{{/ifCond}}	
		{{/each}}
	</select>
	<hr/>
	<button data-action="editElement" class="add_element submit">GUARDAR</button>
	<hr/>
	<div><strong><i>(*) - Opcional</i></strong></div>
</div>