<div id="new_element_form" class="form">
	<label>Nombre:</label>
	<input data-form="new_element" data-field="name" type="text" value="" id="new_element_name" class="form_item" required title="Nombre de identificación del elemento. Es muy importante usar nombres descriptivos que vayan de más genérico a más concreto, consiguiendo a su vez que sea único. Por ejemplo, demonStreetLightLeft = Farola de ciudad demonio para parte izquierda de la celda". No uses ningún caracter especial ni espacio, todo junto y con 'Camel Case', primera minúscula y resto mayúscula, mira el ejemplo." />
	<br/>
	<label>Race:</label>
	<select id="new_element_race" data-form="new_element" data-field="race" class="form_item" title="Asigna una raza al elemento." required>
		{{#each config.races}}
			<option value="{{this}}">{{this}}</option>
		{{/each}}
	</select>
	<hr/>
	<label>Tipo:</label>
	<select id="new_element_type" data-form="new_element" data-field="type" class="form_item" title="Elige el tipo de elemento que quieres que sea." required>
		{{#each config.elements}}
			<option value="{{this}}">{{this}}</option>
		{{/each}}
	</select>
	<br/>
	<div class="animation_speed_wrap hidden">
		<label>Velocidad de animación:</label>
		<input id="new_element_animation_speed" data-form="new_element" data-field="animationSpeed" type="number" value="1" class="form_item" title="Valor relativo de velocidad de animación de PIXIjs :s, lo normal digamos que es 1, pero admite decimales y valores mayores a 1"/>
	</div>
	<br/>
	<div class="image_wrap form_item">
		<img id="new_element_image_preview" src="images/upload-icon.png" class="big"  title="Imagen/es seleccionada/s para el elemento. Recuerda que para los 'movieClip' tienes que elegir más de una, si fuese solo una usa tipo imagen o tipo luz si quieres efecto de luz en el renderizado."/>
	</div>
	<br/>
	<select id="new_element_image" data-form="new_element" class="form_item" title="Selecciona la imagen del elemento" required>
		<option value=""></option>
		{{#each images}}
			<option value="{{this}}">{{this}}</option>
		{{/each}}
	</select>
	<br/>
	<label><strong>Imagen/es:</strong><br/><span id="new_element_src_label"></span></label>
	<input style="display:none" id="new_element_src" type="text" readonly class="form_item" data-form="new_element" data-field="src" value=""/>
	<br/>
		<ul class="menu">
			<li><button id="new_element_add_image_button" data-action="newElementAddImage" class="add_image_element option">Añadir</button></li>
			<li><button id="new_element_remove_image_button" data-action="newElementRemoveImage" class="remove_image_element option">Eliminar</button></li>
		</ul>
	<hr/>
	<label>Offset X (px):</label>
	<input data-form="new_element" data-field="x" type="number" value="0" id="new_element_offset_x" class="form_item" title="Desplaza horizontalmente el elemento sobre la celda respecto del 0 (izquierda)"/>
	<br/>
	<label>Offset Y (px):</label>
	<input data-form="new_element" data-field="y" type="number" value="0" id="new_element_offset_y" class="form_item" title="Desplaza verticalmente el elemento sobre la celda respecto del 0 (arriba)"/>
	<br/>
	<input data-form="new_element" data-field="scalex" type="checkbox" id="new_element_flip_x" class="form_item" title="Haciendo un escalado -100% en el eje X, se invierte la imagen en este eje" value="0" required/>
	<label><-- Flip horizontal</label>
	<br/>
	<input data-form="new_element" data-field="scaley" type="checkbox" id="new_element_flip_y" class="form_item" title="Haciendo un escalado -100% en el eje Y, se invierte la imagen en este eje" value="0" required/>
	<label><-- Flip vertical</label>
	<hr/>
	<label>Capa:</label>
	<select id="new_element_layer" data-form="new_element" data-field="layer" class="form_item" title="Las capas al igual que en photoshop determinan grupos de pintado según el orden de cada una. Dentro de cada capa puede especificarse el orden de pintado entre elementos de una celda mediante el parámetro 'Orden'" required>
		{{#each config.map.layers}}
			<option value="{{this}}">{{this}}</option>
		{{/each}}
	</select>
	<br/>
	<label>Orden (*):</label>
	<input data-form="new_element" data-field="order" type="number" id="new_element_order" class="form_item" title="Orden de prioridad de pintado entre los elementos dentro de una celta en cada capa"/>
	<hr/>
	<label>Alpha [0-1] (*):</label>
	<input data-form="new_element" data-field="alpha" type="number" id="new_element_alpha" class="form_item" title="0 transparente y 1 opaco, es válida cualquier cifra decimal" value="1"/>
	<br/>
	<label>Blend Mode (*):</label>
	<select id="new_element_blend_mode" data-form="new_element" data-field="blendMode" class="form_item" title="Blend Modes soportados en WebGL, Canvas soporta estos y muchos más">
		{{#each config.map.blendModes}}
			<option value="{{this}}">{{this}}</option>
		{{/each}}
	</select>
	<hr/>
	<select id="new_element_elements" class="form_item" title="Elige subelementos unidos a este elementos">
		<option value=""></option>
		{{#each mapElements}}
			<option value="{{@key}}">{{@key}}</option>
		{{/each}}
	</select>
	<br/>
	<label><strong>Subelementos(*):</strong> <br/> <span id="new_element_subelements_label"></span></label>
	<input style="display:none" id="new_element_subelements" type="text" readonly class="form_item" data-form="new_element" data-field="subElements" value=""/>
	<br/>
		<ul class="menu">
			<li><button id="new_element_add_subelement_button" data-action="newElementAddSubelement" class="add_subelement_element option">Añadir</button></li>
			<li><button id="new_element_remove_subelement_button" data-action="newElementRemoveSubelement" class="remove_subelement_element option">Eliminar</button></li>
		</ul>
	<hr/>
	<label>WebGL (*):</label>
	<select id="new_element_WebGl" data-form="new_element" data-field="WebGL" class="form_item" title="Especifica un recurso concreto para el caso de WebGL">
		<option value=""></option>
		{{#each mapElements}}
			<option value="{{@key}}">{{@key}}</option>
		{{/each}}
	</select>
	<br/>
	<label>Canvas (*):</label>
	<select id="new_element_Canvas" data-form="new_element" data-field="Canvas" class="form_item" title="Especifica un recurso concreto para el caso de Canvas.">
		<option value=""></option>
		{{#each mapElements}}
			<option value="{{@key}}">{{@key}}</option>
		{{/each}}
	</select>
	<hr/>
	<button data-action="newElement" class="add_element submit">AÑADIR</button>
	<hr/>
	<div><strong><i>(*) - Opcional</i></strong></div>
</div>