{{#each images}}
	<li data-image="name" data-select="{{@index}}" {{#ifCond @index ../selected}}class="selected"{{/ifCond}}>
		<div  class="thumbnail big" data-select="{{@index}}" ><img src="map/images/{{this}}" data-select="{{@index}}" /></div>
		<div class="name" data-select="{{@index}}" >{{this}}</div>
	</li>
{{/each}}