<div id="edit_image_form" class="form">

	<form id="form_edit_image" enctype="multipart/form-data" method="POST">

		<label>Nombre (*):</label>
		<input type="hidden" value="{{name}}" data-form="edit_element" data-field="name" id="edit_image_old_name"/>
		<input data-form="edit_element" data-field="name" type="text" value="{{name}}" id="edit_image_name" name="name" class="form_item" title="Nombre de la imagen, se guardará por este nombre. Es muy importante usar nombres descriptivos que vayan de más genérico a más concreto, consiguiendo a su vez que sea único. Por ejemplo, demon-street-light = Farola de ciudad demonio". No uses ningún caracter especial ni espacio, todo junto y/o separado por guiones o guiones bajos, fíjate en el ejemplo. Si no pones nada se usará el nombre que tenga el archivo" />
		<hr/>
		<label>Imagenes (*):</label><br/>
		<div class="image_wrap form_item">
			<img src="map/images/{{name}}" class="big previous"  title="Imagen actual"/>
			<hr/>
			<img id="edit_image_preview" src="images/upload-icon.png" class="big"  title="Imagen seleccionada"/>
		</div>
		<br/>
		<input type="file" id="edit_image_file" name="image" accept="image/*" title="Selecciona una imagen para subir de tu disco duro... PNG siempre pro favor :)" />
		<hr/>
		<button id="upload_edit_image_button" data-action="editImage" class="add_image submit">|^| SUBIR |^|</button>
		<hr/>
		<div><strong><i>(*) - Opcional</i></strong></div>
	</form>
</div>