<div id="new_image_form" class="form">

	<form id="form_new_image" enctype="multipart/form-data" method="POST">

		<label>Nombre (*):</label>
		<input type="hidden" value="" data-form="new_element" data-field="name" id="new_image_old_name"/>
		<input data-form="new_image" data-field="name" type="text" value="" id="new_image_name" name="name" class="form_item" title="Nombre de la imagen, se guardará por este nombre. Es muy importante usar nombres descriptivos que vayan de más genérico a más concreto, consiguiendo a su vez que sea único. Por ejemplo, demon-street-light = Farola de ciudad demonio". No uses ningún caracter especial ni espacio, todo junto y/o separado por guiones o guiones bajos, fíjate en el ejemplo. Si no pones nada se usará el nombre que tenga el archivo" />
		<hr/>
		<label>Imagen:</label><br/>
		<div class="image_wrap form_item">
			<img id="new_image_preview" src="images/upload-icon.png" class="big"  title="Imagen seleccionada"/>
		</div>
		<br/>
		<input type="file" id="new_image_file" name="image" data-form="new_image" data-field="image" accept="image/*" title="Selecciona una imagen para subir de tu disco duro... PNG siempre pro favor :)" required/>
		<hr/>
		<button id="upload_new_image_button" data-action="newImage" class="add_image submit">|^| SUBIR |^|</button>
		<hr/>
		<div><strong><i>(*) - Opcional</i></strong></div>
	</form>
</div>