{{#each content}}
	<li data-map="name" data-select="{{@index}}" {{#ifCond @index ../selected}}class="selected"{{/ifCond}}>
		<div  class="thumbnail" data-select="{{@index}}"><img src="map/images/{{#justOne this.src}}{{/justOne}}" data-select="{{@index}}"/></div>
		<div class="name" data-select="{{@index}}">{{this.name}}</div>
		<div class="layer small {{this.layer}}" data-select="{{@index}}">{{this.layer}}</div>
	</li>
{{/each}}