<hr/>
<label><strong>Nuevo objeto:</strong></label>
<select id="map_content_object_to_add" class="form_item" title="Selecciona un objeto nuevo a añadir">
	{{#each objects}}
		{{#ifCond @key "BACKGROUND"}}
		{{else}}
			<option value="{{@key}}">{{@key}}</option>
		{{/ifCond}}
	{{/each}}
</select>
<ul class="menu">
	<li><button data-action="addObjectToContent" class="option" title="Añade un objeto como el elejido arriba">Añadir</button></li>
	<li><button data-action="removeObjectFromContent" class="option" title="Elimina el objeto seleccionado">Eliminar</button></li>
	<li><button data-action="upObjectOnContent" class="option" title="Sube una posición el objeto seleccionado">+</button></li>
	<li><button data-action="downObjectOnContent" class="option" title="Baja una posición el objeto seleccionado">-</button></li>
</ul>
<hr/>
<label><strong>Capas:</strong></label>
<ul class="layers">
	{{#each layersState}}

		<input type="checkbox" data-layer="{{@key}}" {{#ifCond visible true}}checked="true"{{/ifCond}} /><label> <- {{@key}}</label>

		{{#ifCond @key "grid"}}
			<label> / Alpha: </label><input type="number" data-layeralpha="{{@key}}" value="{{alpha}}" size="1"/><button data-action="setLayerAlpha" data-layeraction="{{@key}}">A</button>
		{{/ifCond}}

		{{#ifCond @key "parent"}}
			<label> / Alpha: </label><input type="number" data-layeralpha="{{@key}}" value="{{alpha}}" size="1"/><button data-action="setLayerAlpha" data-layeraction="{{@key}}">A</button>
		{{/ifCond}}

		<br/>
	{{/each}}
</ul>