<hr/>
<div class="name">
	<span><strong>Nombre:</strong> {{name}}</span>
</div>
<br/>
<div class="creation">
	<span><strong>Creación:</strong> {{create}}</span>
</div>
<br/>
<div class="size">
	<span><strong>Tamaño:</strong> {{size}}</span>
</div>
<div class="type">
	<span><strong>Tipo:</strong> {{type}}</span>
</div>
{{#if parent}}
	<div class="parent">
		<span><strong>Padre:</strong> {{parent}}</span>
	</div>
{{/if}}

<hr/>
<ul class="menu">
	<li><button data-action="openMap">Abrir</button></li>
	<li><button data-action="edit_map">Editar</button></li>
	<li><button data-action="removeMap">Eliminar</button></li>
</ul>