<div id="edit_map_form" class="form">
	<label>Nombre:</label>
	<input data-form="edit_map" data-field="fileName" type="hidden" value="{{map.name}}"/>
	<input data-form="edit_map" data-field="name" type="text" value="{{map.name}}" id="edit_map_name" class="form_item" title="Nombre de identificación del mapa. [raza+tipo+numeración] .Es muy importante usar nombres descriptivos que vayan de más genérico a más concreto, consiguiendo a su vez que sea único. A su vez para las mismas características de mapa usa numeración siempre del mismo número de dígitos, 3 es lo recomendado para mapas, así podremos tener 1000 mapas diferentes del mismo tipo y circunstancias. No uses ningún caracter especial ni espacio, todo junto y con 'Camel Case', primera minúscula y resto mayúscula, por ejemplo: demonOutsideGround_024 = 'Para mapa de demonios, parte de las afueras para el suelo (capa Ground, estará estático y al fondo) siendo el número 24 ya'." required/>
	<hr/>
	<label>Tamaño (Celdas):</label>
	<input data-form="edit_map" data-field="size" type="number" value="{{map.size}}" id="edit_map_size" class="form_item" title="Radio en celdas, es decir, siendo 'n' el tamaño elegido el mapa tendrá 2*n celdas de ancho y 2*n celdas de alto. Ten encuenta que la numeración de las celdas va desde -n hasta n y ponte de acuerdo porque todos los mapas que juntes tienen que tener el mismo número de celdas sino... ¡desastre!" required/>
	<hr/>
	<label>Type:</label>
	<select id="edit_map_type" data-form="edit_map" data-field="type" class="form_item" title="Asigna un tipo de mapa para que luego el motor que junta las hojas de los mapas sepa de qué es cada una..." required>
		{{#each config.map.types}}
			{{#ifCond this ../map.type}}
				<option value="{{this}}" selected>{{this}}</option>
			{{else}}
				<option value="{{this}}">{{this}}</option>
			{{/ifCond}}
		{{/each}}
	</select>
	<hr/>
	<label>Padre:</label>
	<select id="edit_map_parent" data-form="edit_map" data-field="parent" class="form_item" title="Asigna un mapa padre al que este mapa estará encadenado, así cuando este mapa se carga, su padre se carga primero." required>
		<option value=""></option>
		{{#each maps}}
			{{#ifCond name ../map.name }}
			{{else}}
				{{#ifCond ../name ../../map.parent}}
					<option value="{{name}}" selected>{{name}}</option>
				{{else}}
					<option value="{{name}}">{{name}}</option>
				{{/ifCond}}
			{{/ifCond}}
		{{/each}}
	</select>
	<hr/>
	<button data-action="editMap" class="edit_map submit">EDITAR</button>
</div>