{{#each maps}}
	<li data-map="name" data-select="{{@key}}" {{#ifCond @index ../selected}}class="selected"{{/ifCond}}>
		<div  class="thumbnail" data-select="{{@key}}"><img src="images/{{this.type}}.png" data-select="{{@key}}"/></div>
		<div class="name" data-select="{{@key}}">{{this.name}}</div>
	</li>
{{/each}}