<div id="new_map_form" class="form">
	<label>Nombre:</label>
	<input data-form="new_map" data-field="name" type="text" value="" id="new_map_name" class="form_item" title="Nombre de identificación del mapa. [raza+tipo+numeración] .Es muy importante usar nombres descriptivos que vayan de más genérico a más concreto, consiguiendo a su vez que sea único. A su vez para las mismas características de mapa usa numeración siempre del mismo número de dígitos, 3 es lo recomendado para mapas, así podremos tener 1000 mapas diferentes del mismo tipo y circunstancias. No uses ningún caracter especial ni espacio, todo junto y con 'Camel Case', primera minúscula y resto mayúscula, por ejemplo: demonOutsideGround_024 = 'Para mapa de demonios, parte de las afueras para el suelo (capa Ground, estará estático y al fondo) siendo el número 24 ya'." required/>
	<hr/>
	<label>Tamaño (Celdas):</label>
	<input data-form="new_map" data-field="size" type="number" value="14" id="new_map_size" class="form_item" title="Radio en celdas, es decir, siendo 'n' el tamaño elegido el mapa tendrá 2*n celdas de ancho y 2*n celdas de alto. Ten encuenta que la numeración de las celdas va desde -n hasta n y ponte de acuerdo porque todos los mapas que juntes tienen que tener el mismo número de celdas sino... ¡desastre!" required/>
	<hr/>
	<label>Tipo:</label>
	<select id="new_map_type" data-form="new_map" data-field="type" class="form_item" title="Asigna un tipo de mapa. Esto los clasificará para su elección y clasificación por el servidor" required>
		{{#each config.map.types}}
			<option value="{{this}}">{{this}}</option>
		{{/each}}
	</select>
	<hr/>
	<label>Padre:</label>
	<select id="new_map_parent" data-form="new_map" data-field="parent" class="form_item" title="Asigna un mapa padre al que este mapa estará encadenado, así cuando este mapa se carga, su padre se carga primero." required>
		<option value=""></option>
		{{#each maps}}
			<option value="{{name}}">{{name}}</option>
		{{/each}}
	</select>
	<hr/>
	<button data-action="newMap" class="add_map submit">CREAR</button>
</div>