{{#each objects}}
	<li data-map="name" data-select="{{@key}}" data-index="{{@index}}" {{#ifCond @key ../selected}}class="selected"{{/ifCond}}>
		<div  class="thumbnail" data-select="{{@key}}" data-index="{{@index}}">
			<img src="map/images/{{#getProp ../elements demon "src" }}{{/getProp}}" data-select="{{@key}}" data-index="{{@index}}" title="Imagen para demonios" class="small demon"/>
			<img src="map/images/{{#getProp ../elements human "src" }}{{/getProp}}" data-select="{{@key}}" data-index="{{@index}}" title="Imagen para humanos" class="small human"/>
		</div>
		<div class="name" data-select="{{@key}}" data-index="{{@index}}">{{@key}}</div>
	</li>
{{/each}}