<div id="new_object_form" class="form">
	<label>Nombre:</label>
	<input data-form="new_object" data-field="name" type="text" value="" id="new_object_name" class="form_item" title="Nombre de identificación del objeto de mapa. [raza+tipo+numeración] .Es muy importante usar nombres descriptivos que vayan de más genérico a más concreto, consiguiendo a su vez que sea único. A su vez para las mismas características de mapa usa numeración siempre del mismo número de dígitos, 3 es lo recomendado para objectos de mapa, así podremos tener 1000 objetos de mapa diferentes del mismo tipo y circunstancias. No uses ningún caracter especial ni espacio, todo junto y con 'Camel Case', primera minúscula y resto mayúscula, por ejemplo: wallLeftDown_002 = 'Muro número 2 de orientación izquierda y abajo'." required/>
	<hr/>
	<label>Demon:</label>
	<select id="new_object_demon" data-form="new_object" data-field="demonElement" class="form_item" title="Asigna un elemento para este objecto que aparezca para raza demonio" required>
		<option value=""></option>
		{{#each elements}}
			{{#ifCond race 'demon'}}
				<option value="{{@key}}">{{@key}}</option>
			{{/ifCond}}
		{{/each}}
	</select>
	<br/>
	<label>Human:</label>
	<select id="new_object_human" data-form="new_object" data-field="humanElement" class="form_item" title="Asigna un elemento para este objecto que aparezca para raza humana" required>
		<option value=""></option>
		{{#each elements}}
			{{#ifCond race 'human'}}
				<option value="{{@key}}">{{@key}}</option>
			{{/ifCond}}
		{{/each}}
	</select>
	<hr/>
	<button data-action="newObject" class="add_object submit">CREAR</button>
</div>