<hr/>
<div class="name">
	<span><strong>Nombre:</strong> {{name}}</span>
</div>
<br/>
<div class="image_wrap">
	<img src="map/images/{{#getProp elements object.demon "src" }}{{/getProp}}" class="medium"/>
</div>
<div class="demon">
	<span><strong>Demonio:</strong> {{object.demon}}</span>
</div>
<br/>
<div class="image_wrap">
	<img src="map/images/{{#getProp elements object.human "src" }}{{/getProp}}" class="medium"/>
</div>
<div class="human">
	<span><strong>Humano:</strong> {{object.human}}</span>
</div>
<hr/>
<ul class="menu">
	<li><button data-action="edit_mapObject">Editar</button></li>
	<li><button data-action="removeObject">Eliminar</button></li>
</ul>