<div class="window boxed draggable" data-window="{{key}}s">
	<div class="window_header drag_surface">
		<div class="title">{{title}}</div>
		<ul class="menu buttons">
			<li><button data-action="toggleShow" class="close">X</button></li>
		</ul>
	</div>

	<div class="content">
		<section class="{{key}}s">
			<ul class="{{key}}s_actions menu">
				<li> <button data-action="new_{{key}}">Nuevo</button></li>
				<li> <button data-action="view_{{key}}">Lista</button></li>
			</ul>
			<div class="action_sections">
				<section id="new_{{key}}">
					<div class="{{key}}s_new_wrap"></div>
				</section>

				<section id="edit_{{key}}">
					<div class="{{key}}s_edit_wrap"></div>
				</section>
				
				<section id="view_{{key}}" class="selected">	
					<div class="{{key}}s_list_wrap rows_list_wrap">
						<ul id="{{key}}s_list" class="rows_list"></ul>
					</div>
					<div id="view_{{key}}_data"></div>
				</section>
			</div>
		</section>
	</div>
</div>