<div class="window boxed draggable" data-window="{{key}}s">
	<div class="window_header drag_surface">
		<div class="title">{{title}}</div>
		<ul class="menu buttons">
			<li><button data-action="toggleShow" class="close">X</button></li>
		</ul>
	</div>

	<div class="content">
		<section class="{{key}}s">
			<ul class="{{key}}s_actions menu">
				<li> <button data-action="new_{{key}}">Nuevo</button></li>
				<li> <button data-action="view_{{key}}">Lista</button></li>
				<li> <button data-action="content_{{key}}" class="disabled" data-needMap="true">Contenido</button></li>
			</ul>
			<div class="action_sections">
				<section id="new_{{key}}">
					<div class="{{key}}s_new_wrap"></div>
				</section>

				<section id="edit_{{key}}">
					<div class="{{key}}s_edit_wrap"></div>
				</section>
				
				<section id="view_{{key}}" class="selected">	
					<div class="{{key}}s_list_wrap rows_list_wrap">
						<ul id="{{key}}s_list" class="rows_list"></ul>
					</div>
					<div id="view_{{key}}_data"></div>
				</section>

				<section id="content_{{key}}">
					<div class="{{key}}s_content_wrap">
						<div class="map_zoom" id="map_content_zoom">
							<ul class="menu">
								<li> <strong>Zoom: </strong> </li>
								<li> <button data-action="map_zoom" data-zoom="-1" > - </button></li>
								<li> <input id="map_zoom_value" type="text" value="{{zoom}}" readonly class="tiny"/></li>
								<li> <button data-action="map_zoom" data-zoom="1" > + </button></li>
							</ul>
						</div>
						<hr/>
						<div class="cells_coords">
							<label><strong>Celda [ </strong></label>
							<label>i:</label> <input id="map_content_coord_selected_i" type="number" value = "0" data-coord="i"/>
							<label>j:</label> <input id="map_content_coord_selected_j" type="number" value = "0" data-coord="j"/>
							<label><strong> ]</strong></label>
						</div>
						<hr/>
						<div class="rows_list_wrap">
							<ul id="{{key}}s_content_list" class="rows_list"></ul>
						</div>
						<div class="map_content_actions"></div>
					</div>
				</section>
			</div>
		</section>
	</div>
</div>